<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=NewNetCMS_Munsys" />-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=WIN-2QK2H8P85E3\NEWNET;Initial Catalog=NetNetServicesSFO" />-->
    <!-- <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=WIN-2QK2H8P85E3\NEWNET;Initial Catalog=[NewNetCMS_Kevin2]"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=CMSPRTC"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=newnetdemo.com; Initial Catalog=NewNetCMSEmpire; User id=newnetadmin; Password=N3wBird12" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=newnetdemo.com; Initial Catalog=tt_newnetcms; User id=newnetadmin; Password=N3wBird12" />-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=newnetCMSCochran"/>-->


    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=newnetcmspond"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=tt_cms"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=DELETEME"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=NewNetCMSEmpire041318"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=tula"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=SFO"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=NewNetCMStularosaconvert"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=NNKalona"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=nnNcc"/>-->
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=COLTON"/>
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=nnncc"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=DeleteMEMANYtoMany"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=SFO"/>-->


    <!--<add name="ConnectionString" connectionString="Data Source=(local); Initial Catalog=NewNetCMSTulaRosaConvert; User id=newnetadmin; Password=N3wBird12" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=newnetservices.us; Initial Catalog=NewNetCMSRural_Kevin; User id=newnetadmin; Password=N3wBird12" />-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress ;Initial Catalog=NewNetCMSRural_Kevin"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress ;Initial Catalog=CMS_Cochrane"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=kevindeveloper\sqlexpress;Initial Catalog=NewNetCMS_Munsys"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=WIN-2QK2H8P85E3\NEWNET;Initial Catalog=NewNetCMSEmpire041318"/>-->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=WIN-2QK2H8P85E3\NEWNET;Initial Catalog=NewNetCMS_KevinEmpire"/>-->
  </connectionStrings>
</configuration>